<div class="row main">
	<div class="side-nav col-md-1 hidden-xs hidden-sm">
			<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="side-course-nav col-md-2 hidden-xs hidden-sm">
		<div ng-include="'./components/course-detail-navbar.html'"></div>
	</div>

	<div class="main-content col-md-9 col-xs-12">

		<div ng-include="'./components/top-nav.html'"></div>

	<div id="main-content col-md-10 col-xs-12">
	    <h3>Course Grades</h3>
	    <div ng-repeat="grade in grades">
	    	<span>{{grade.id}} {{grade.score}}</span>
	    </div>
	</div>

	</div>
</div>

