<div class="row main">
	<div class="side-nav col-md-1 hidden-xs hidden-sm">
			<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="side-course-nav col-md-2 hidden-xs hidden-sm">
		<div ng-include="'./components/course-detail-navbar.html'"></div>
	</div>

	<div class="main-content col-md-9 col-xs-12">

		<div ng-include="'./components/top-nav.html'"></div>

		<div class="main-announcements">
			<h3 class="announcementHeader">Detailed Grades</h3>
			<div class="grades">
				<table class="table table-striped" ng-repeat="student in students">
					<tr>
						<th>Grades for {{student.firstname}} {{student.lastname}}</th>
					</tr>
					<tr class="weighted total">
						<td>Weighted Total Placeholder</td>
					</tr>
					<tr class="assignment grades" ng-repeat="assignment in assignments">
						<div>{{populateGrades(assignment.id)}}</div>
						<td>{{assignment.title}} - {{getGrade(student.id, assignment.id)}}/{{assignment.maxScore}}</td>
					</tr>
				</table>
			</div>			
		</div>
	</div>

	
	    
</div>

