<div class="row main">
	<div class="side-nav col-md-1 hidden-xs hidden-sm">
			<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="side-course-nav col-md-2 hidden-xs hidden-sm">
		<div ng-include="'./components/course-detail-navbar.html'"></div>
	</div>

	<div class="main-content col-md-9 col-xs-12">

		<div ng-include="'./components/top-nav.html'"></div>

		<div class="main-announcements">
			<h3 class="announcementHeader">Detailed Grades</h3>
			<div class="grades">
				<!--<table class="table table-striped">
				  <tr>
				    <th>Date</th>
				    <th>Assignment</th>
				    <th>Points</th>
				    <th>Out Of</th>
				    <th>Grade</th>
				  </tr>
				  <tr>
				    <td>03/04/16</td>
				    <td>Homework 1</td>
				    <td>10</td>
				    <td>10</td>
				    <td>100 %</td>
				  </tr>
				  <tr>
				    <td>04/03/16</td>
				    <td>Homework 2</td>
				    <td>9</td>
				    <td>10</td>
				    <td>90 %</td>
				  </tr>
				  
				  <tr class="total-row">
				    <td>Total</td>
				    <td></td>
				    <td>19</td>
				    <td>20</td>
				    <td>95 %</td>
				  </tr>
				</table>-->
				<table class="table table-striped">
					<tr>
						<th>Name</th>
					</tr>
					<div ng-repeat="student in students">
					<tr>
						<td>{{student.name}}</td>
					</tr>
					</div>
				</table>
			</div>			
		</div>
<!-- 		<div ng-hide="courseData">
			<h3>Course Not Found</h3>
		</div> -->
	</div>

	
	    
</div>

<div ng-include="'./components/footer.html'"></div></div>