<div class="row main">

	<div class="side-nav col-md-1 hidden-xs hidden-sm">
		<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="side-course-nav col-md-2 hidden-xs hidden-sm">
		<div ng-include="'./components/course-detail-navbar.html'"></div>
	</div>

	<div class="main-content col-md-11 col-sm-12 col-xs-12">
		<div class="row">
			<div ng-include="'./components/top-nav.html'"></div>
			<div class="create-course col-md-12 col-sm-12 col-xs-12">
			<h3>{{quizTitle}}</h3>
			<div ng-repeat="question in currentQuiz">
			<div class="question">
				<span class="numQuestion">Question #{{$index+1}}</span>
				<h4>{{question.question}}</h4>
			<ul ng-repeat="answer in question.answers">
				<li><span>{{answer}}</span><input type="radio" value="{{answer}}"></li><br>
			</ul>
			</div>
			</div>

			</div>



		</div>
	</div>

</div>