* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  height: 100% !important;
  width: 100% !important;
  overflow-x: hidden;
}
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}
footer {
  font-size: 0.9em;
  text-align: center;
  color: #939393;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
*:focus {
  outline: none;
}
.red {
    color: #E23E57;
}
nav {
	display: block;
	background-color: #EEEEEE;
}
input {
	display: block;
}
button.login, button.register {
  border: 0;
  color: #FFFFFF;
  background-color: #F3715C;
  width: 100%;
  border-radius: 7px;
  padding: 13px 0;
  margin-top: 7%;
  font-size: 1.1em;
  font-weight: 300;
}
button.login:hover, button.register:hover {
  background-color: #DDDDDD;
}
.btn {
  width: 50%;
  padding: 0;
}
form {
  margin: 0 auto;
  text-align: center;
}
#logo {
  width: 50%;
  margin: 25px auto 25px auto;
}
#logo img {
  width: 100%;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#login-info, #register-info {
  border: 7px solid #DDDDDD;
  border-radius: 7px;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
}
#login-info input, #register-info input {
  border: 0;
  width: 100%;
  padding: 25px 0 0 0;
  color: #8B8B8B;
  font-size: 1.1em;

}
#login-info input.top, #register-info input.top {
  border-bottom: 3px solid #DDDDDD;
  padding: 0 0 25px 0 !important;
}
#register-info input.mid {
  border-bottom: 3px solid #DDDDDD;
  padding: 25px 0 !important;
}
p {
  text-align: center;
  margin: 5px 0 25px 0;
  font-size: 0.9em;
}
p.subnav {
  font-size: 1em;
  color: #CCCCCC;
  margin-top: 25px;
}
p.subnav a {
  color: #FFAA6F;
}
p.subnav a:hover {
  color: #FF7056;
}
#errors {
  position: absolute;
  width: 100%;
  background-color: #E74C3C;
  left: 0;
  top: 0;
  list-style: none;
  padding: 10px 0;
  color: white;
}
.clear {
  clear: both;
}
.top-nav {
  background-color: white;
  height: 75px;
  color: #AEAEAE;
  border-bottom: 1px solid #CCCCCC;
}
.side-logo {
  background-color: #FF7056;
  width: 100% !important;
}
.side-logo img {
  height: 75px;
  width: 75px;
  margin-left: 12%;
}
.search,.icons {
  margin-top: 20px;
}
.search i {
  color: #CCCCCC;
}
.search input, .search .input-group-addon {
  border: 0;
  background-color: transparent !important;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0;
}
.search input:focus {
  outline: 0 !important;
}
.icon-nav {
  list-style: none;
  margin-right: 50px;
}
.icon-nav li {
  float: right;
  margin-left: 10px;
}
.icon-nav a {
  color: #CCCCCC;
}
.icon-nav a:hover {
  color: #FF7056;
}
.side-nav {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #EEEEEE;
  display: table-cell;
  float: none;
}
.main {
  padding: 0 !important;
  margin: 0 !important;
  display: table;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75em !important;
  margin: 10px 0 15px 0;
  padding: 0 !important;
  color: #939393;
  font-weight: 400;
}
.main-content {
  padding: 0 25px;
  display: table-cell;
  float: none;
}
#courses {
  margin-top: 50px;
}
.course-link {
  content: '';
  padding-top: 45%;
  padding-bottom: 40%;
  text-align: center;
  background-color: #EEEEEE;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.course-link:hover {
  text-decoration: none;
}
.course-link a:hover {
  text-decoration: none;
}
.science {
  background-color: #2ECC71;
}
.science:hover {
  background-color: #CCCCCC;
}
.s-course { 
  width: 25%; 
  margin-right: 8%;
  float: left;
 }
 .s-course a:hover {
  text-decoration: none;
 }
 .course-nav {
  width: 100%;
 }
 .course-nav-s {
  padding: 10px 0;
  text-align: center;
  background-color: #EEEEEE;
 }
 .course-nav-s a {
  color: #939393;
 }
 .science .course-nav-s a:hover {
  color: #2ECC71;
 }
 .side-course-nav {
  background-color: #2ECC71;
  display: table-cell;
  float: none;
  margin: 0 !important;
  padding: 0 !important;
 }
 .side-course-nav h3 {
  color: white;
  font-weight: 600;
  font-size: 1.2em !important;
  text-align: center;
 }
 .side-course-nav h5 {
  display: block;
  background-color: #1C7C45;
  padding: 7px 0;
  text-align: center;
  font-size: 0.75em;
  color: #F9F9F9;
  margin: 0 !important;
 }
 .side-course-nav a.lg {
  display: block;
  background-color: white;
  width: 90%;
  margin: 15px auto;
  border-radius: 5px;
  color: #2ECC71;
  padding: 10px;
  text-align: center;
  font-size: 0.85em;
  font-weight: 600;
 }
 .side-course-nav h4 {
  color: white;
  margin-top: 35px;
  margin-bottom: -10px;
  display: block;
  font-size: 1.2em;
 }
 ul.course-content {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  float: left;
 }
 ul.course-content li {
  float: left;
  display: inline-block;
  width: 100%;
  font-size: 0.9em;
  padding: 10px 5px;
  color: #1C7C45;
 }
 ul.course-content li:hover {
  border-radius: 8px;
  background-color: white;
  color: #939393;
 }
 ul.course-content i {
  padding-right: 15px;
  padding-left: 10px;
 }
.main-content h3 {
  text-align: center;
  font-weight: 600;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1.5em !important;
}
.date-dd {
  font-weight: 600;
  font-size: 2.2em;
  color: #939393;
}
.date-MMM {
  font-weight: 300;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #939393;
  margin-top: -5px;
}
.announcement {
  border-bottom: 1px solid #CCCCCC;
  padding: 20px 0;
  margin: 0 75px 20px 20px;
}
.announcement h4 {
  color: #939393;
}
.announcement p {
  text-align: left !important;
  color: #333333;
  line-height: 1.9em;
}
.main-announcements {
}
.i-announce {
  font-size: 1.5em;
  padding: 20px 0 35px 0;
  margin: 0 75px 20px 20px;
}
.i-announce a {
  color: #939393;
  text-decoration: none;
  cursor: pointer;
}
.i-announce a:hover {
  color: #333333;
}
.i-announce h2 {
  font-weight: 600;
  color: #939393;
  font-size: 1.2em;
  padding-bottom: 15px;
  margin-top: 3px;
}
.i-announce h5 {
  color: #939393;
  font-size: 0.8em;
  margin-bottom: 15px;
}
.i-announce input, .i-announce textarea {
  display: block;
  width: 70%;
  font-size: 0.75em;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  color: #333333;
  line-height: 1.6em;
}
.i-announce textarea {
  min-height: 150px;
}
.i-announce button {
  border: 0;
  outline: 0;
  font-size: 0.7em;
  background-color: #EEEEEE;
  color: #939393;
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 30px;
  float: left;
}
.i-announce button:hover {
  cursor: pointer;
  background-color: #939393;
  color: #EEEEEE;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.sm-padding {
  padding: 15px;
}
.course-discussion {
  border-right: 1px solid #CCCCCC;
}
.course-threads {
  margin: 0 !important;
  padding: 0 !important;
}
.course-threads li {
  list-style: none;
  background-color: white;
  display: block;
  color: #939393;
  font-size: 0.75em;
  padding: 15px;
  border-bottom: 1px solid #CCCCCC;
}
.course-threads li div {
  line-height: 1.4em;
}
.course-threads a {
  text-decoration: none !important;
}
.course-threads li:hover {
  opacity: 0.9;
  cursor: pointer;
}
.course-threads div.title {
  font-weight: 600;
  color: #333333;
}
.course-pinned-posts div.body {
  font-size: 0.9em;
}
.total-row {
  border-top-style: solid;
  border-top-width: 3px;
  background-color:;
}
.total-row td:first-child {
  font-weight: bold;
}
.grades {
  margin-top:50px;
}
.categories {
  padding-top: 25px !important;
  border-top: 1px solid #CCC;
  margin: 0;
}
.addPost button {
  background-color: #2ECC71;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 0.8em;
  width: 100%;
  padding: 5px 0;
}
.addPost button:hover {
  background-color: #CCCCCC;
  color: #333;
}
.bold {
  font-weight: 600;
}
.currentThread {
  font-size: 0.9em;
}
.currentThread h2 {
  color: #939393;
  font-weight: 600;
  font-size: 2em;
}
.currentThread .thread-info {
  font-size: 0.8em;
  color: #A9A9A9;
  margin: -3px 0 15px 0;
}
.currentThread p.body {
  font-size: 1em;
  text-align: left !important;
  line-height: 1.8em;
}
.head-post {
  padding-bottom: 20px !important;
  border-bottom: 1px solid #CCC;
}
.currentThread .reply {
  padding: 25px 0 !important;
  border-bottom: 1px solid #CCC;
}
.currentThread .reply .reply-info {
  font-size: 0.8em;
  background-color: #EEE;
  border-radius: 5px;
  padding: 10px !important;
  display: block;
}
.upvotes {
  font-size: 1.5em;
  text-align: center;
}
.upvotes a {
  color: #CCC;
}
.upvotes a:hover {
  color: #2ECC71;
}
.upvotes .numberUpvotes {
  font-weight: 600;
}
.new-reply {
  border: 0 !important;
}
.new-reply .form {
  text-align: center !important;
}
.new-reply h4 {
  font-weight: 300;
  color: #9A9A9A;
  padding-bottom: 15px;
  text-align: center !important;
}
.new-reply .form textarea {
  min-width: 80%;
  max-width: 80%;
  height: 100px;
  border: 1px solid #CCC;
  margin-bottom: 5px;
  padding: 15px;

}
.new-reply .form label {
  float: left;
  margin-right: 7px;
  font-weight: 500;
  color: #9A9A9A;
}
.new-reply .form button {
  width: 80%;
  margin-top: 15px;
  border: 0;
  padding: 10px 0;
  background-color: #2ECC71;
  color: white;
  border-radius: 5px;
}
.new-reply .form button:hover {
  color: #939393;
  background-color: #CCC;
}
.input-group {
  margin: 0 auto;
}
.new-post h2 {
  font-weight: 500;
  color: #9A9A9A;
  padding-bottom: 15px;
  text-align: center !important;
}
.new-post p.label {
  font-weight: 500;
  color: #9A9A9A;
  float: left;
}
.new-post input, .new-post textarea {
  float: left;
  text-align: left !important;
  margin-bottom: 25px;
}