html, body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  height: 100% !important;
}
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
footer {
  font-size: 0.9em;
  text-align: center;
  color: #939393;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
*:focus {
  outline: none;
}
.red {
    color: #E23E57;
}
nav {
	display: block;
	background-color: #EEEEEE;
}
input {
	display: block;
}
button.login, button.register {
  border: 0;
  color: #FFFFFF;
  background-color: #F3715C;
  width: 100%;
  border-radius: 7px;
  padding: 13px 0;
  margin-top: 7%;
  font-size: 1.1em;
  font-weight: 300;
}
button.login:hover, button.register:hover {
  background-color: #DDDDDD;
}
.btn {
  width: 50%;
  padding: 0;
}
form {
  margin: 0 auto;
  text-align: center;
}
#logo {
  width: 50%;
  margin: 25px auto 25px auto;
}
#logo img {
  width: 100%;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#login-info, #register-info {
  border: 7px solid #DDDDDD;
  border-radius: 7px;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
}
#login-info input, #register-info input {
  border: 0;
  width: 100%;
  padding: 25px 0 0 0;
  color: #8B8B8B;
  font-size: 1.1em;

}
#login-info input.top, #register-info input.top {
  border-bottom: 3px solid #DDDDDD;
  padding: 0 0 25px 0 !important;
}
#register-info input.mid {
  border-bottom: 3px solid #DDDDDD;
  padding: 25px 0 !important;
}
p {
  text-align: center;
  margin: 5px 0 25px 0;
  font-size: 0.9em;
}
p.subnav {
  font-size: 1em;
  color: #CCCCCC;
  margin-top: 25px;
}
p.subnav a {
  color: #FFAA6F;
}
p.subnav a:hover {
  color: #FF7056;
}
#errors {
  position: absolute;
  width: 100%;
  background-color: #E74C3C;
  left: 0;
  top: 0;
  list-style: none;
  padding: 10px 0;
  color: white;
}
.clear {
  clear: both;
}
.top-nav {
  background-color: white;
  height: 75px;
  color: #AEAEAE;
}
.side-logo {
  background-color: #FF7056;
}
.side-logo img {
  height: 75px;
  width: 75px;
}
.search,.icons {
  margin-top: 20px;
}
.search i {
  color: #CCCCCC;
}
.search input, .search .input-group-addon {
  border: 0;
  background-color: transparent !important;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0;
}
.search input:focus {
  outline: 0 !important;
}
.icon-nav {
  list-style: none;
  margin-right: 50px;
}
.icon-nav li {
  float: right;
  margin-left: 10px;
}
.icon-nav a {
  color: #CCCCCC;
}
.icon-nav a:hover {
  color: #FF7056;
}
.side-nav {
  background-color: #EEEEEE;
  height: 100%;
  min-height: 100%;
}
.main {
  height: 100%;
  min-height: 100%;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75em !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #939393;
  font-weight: 600;
}
.main-content {
  padding: 0 25px;
}
#courses {
  margin-top: 25px;
}
.s-course { 
  width: 25%; 
  margin-right: 8%;
  float: left;
background-color: red;
 }