<div class="row main">
    <div class="side-nav col-md-1 hidden-xs hidden-sm">
        <div ng-include="'./components/courses-navbar.html'"></div>
    </div>

    <div class="side-course-nav col-md-2 hidden-xs hidden-sm">
        <div ng-include="'./components/course-detail-navbar.html'"></div>
    </div>

    <div class="main-content col-md-9 col-xs-12">

        <div ng-include="'./components/top-nav.html'"></div>

        <div class="main-announcements">    
            <div ng-if="!isAdmin">        
                <h3 class="announcementHeader"><span ng-bind="assignmentTitle"></span> Upload</h3>
                <div class="fileUploader"><button type="file" ngf-select="uploadFiles($file)"
                    accept="application/pdf">
                    Select File</button>

                    <br><br>
                    <div style="font:smaller;text-align:center;">{{f.name}}
                      <span ng-show="f.progress >= 0" class="progress">
                          <div class="upload-status" style="width:{{f.progress}}%"  
                          ng-bind="f.progress + '%'"></div>
                      </span>
                      <div ng-show="fileProgress" class="completeUpload">
                        Upload Complete
                    </div>
                </div> 
            </div>
        </div>
        <div ng-if="isAdmin">        
            <div ng-show="isUploads">
                <h3 class="announcementHeader"><span ng-bind="assignmentTitle"></span> Uploads</h3>
                <div ng-repeat="upload in assignmentUploads">
                <div class="announcement">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><a href="" ng-click="getFile(upload.id)">{{upload.user.firstname}} {{upload.user.lastname}}</a></h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div ng-hide="isUploads">
                <h3 class="announcementHeader"><span ng-bind="assignmentTitle"></span> has no uploads yet</h3>

            </div>

        </div>


    </div>
</div>    
</div>
