<div class="row main">
    <div class="side-nav col-md-1 hidden-xs hidden-sm">
            <div ng-include="'./components/courses-navbar.html'"></div>
    </div>

    <div class="side-course-nav col-md-2 hidden-xs hidden-sm">
        <div ng-include="'./components/course-detail-navbar.html'"></div>
    </div>

    <div class="main-content col-md-9 col-xs-12">

        <div ng-include="'./components/top-nav.html'"></div>

        <div class="main-announcements">            
            <h3 class="announcementHeader">Assignments</h3>

            <div class="grades">

            <!-- assignment view -->
            
                <table class="table table-striped">
                    <tr>
                        <th>Assignment</th>
                        <th>Deadline</th>
                        <th>Points</th>
                    </tr>

                    <tr class="assignment grades" ng-repeat="assignment in assignments">
                        <td ng-if="assignment.filesubmission == 1"><a class="strong assignment-link" ng-href="./#!/assignments/{{courseID}}/{{assignment.id}}">{{assignment.title}} <i class="fa fa-arrow-right" aria-hidden="true"></i></a><div class="assignment-description">{{assignment.description}}</div></td>
                        <td ng-if="assignment.filesubmission != 1">{{assignment.title}}<div class="assignment-description">{{assignment.description}}</div></td>
                        <td>{{assignment.deadline | date: 'MMM dd'}}</td>
                        <td>{{assignment.maxScore}}</td>
                    </tr>

                    <tr ng-if="isAdmin" class="assignment grades create-assignment">
                        <td><a class="strip-decoration" ng-href="./#!/assignments/{{courseID}}/new"><i class="fa fa-plus" aria-hidden="true"></i> Create Assignment</a></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
            </div>                  
        </div>
    </div>    
</div>
