	<div class="side-logo">
		<a href="./#!/courses/">
			<img src="../img/logo-or.png" />
		</a>
	</div>
	<ul class="side-courses">
		<div ng-repeat="course in courses">
			<div ng-show="courseID == course.id" class="science"><a ng-href="./#!/courses/{{course.id}}"><li>{{course.id}}</li></a></div>
			<div ng-hide="courseID == course.id"><a ng-href="./#!/courses/{{course.id}}"><li>{{course.id}}</li></a></div>
		</div>
		<div class="clear"></div>
	</ul>
	<!--This is pretty legit-->
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>