<div class="row top-nav">
	<div class="side-logo col-md-1 hidden-xs hidden-sm">
		<img class="center-block" src="../img/logo-or.png" />
	</div>
	<div class="search col-md-7">
		<div class="input-group">
  			<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
  			<input class="form-control" type="text" placeholder="Search" >
  		</div>
	</div>
	<div class="icons col-md-4 ">
		<ul class="icon-nav">
			<li>
				<a href="#">
					<span class="fa-stack fa-lg">
		  				<i class="fa fa-circle fa-stack-2x"></i>
		  				<i class="fa fa-user fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa-stack fa-lg">
		  				<i class="fa fa-circle fa-stack-2x"></i>
		  				<i class="fa fa-bell fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa-stack fa-lg">
		  				<i class="fa fa-circle fa-stack-2x"></i>
		  				<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa-stack fa-lg">
		  				<i class="fa fa-circle fa-stack-2x"></i>
		  				<i class="fa fa-home fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>





<!--<nav>
    <span ng-hide="loggedin"><a href="./#!/sign-in">My Courses</a> | </span>
    <span ng-controller="UserCtrl" ng-show="loggedin"><a href="./#!/courses">My Courses</a> | </span> 
    <span ng-controller="UserCtrl" ng-show="loggedin"><a href="./#!/profile">My Profile</a> | </span> 
    <span ng-hide="loggedin"><a href="./#!/login">Login</a></span>
    <span ng-controller="UserCtrl" ng-show="loggedin"><a href="./#!/login" ng-click="signout()">Logout</a></span> 
    
</nav>-->