<nav>
    <span ng-hide="loggedin"><a href="./#!/login">Login</a> | </span>
    <span ng-controller="UserCtrl" ng-show="loggedin"><a href="./#!/login" ng-click="signout()">Logout</a> | </span> 
    <span ng-hide="loggedin"><a href="./#!/sign-in">My Courses</a> | </span>
    <span ng-controller="UserCtrl" ng-show="loggedin"><a href="./#!/courses">My Courses</a> | </span> 
    <span ng-controller="UserCtrl" ng-show="loggedin"><a href="./#!/my-profile">My Profile</a> | </span> 
    <a href="#">Nav #4</a> | 
</nav>