<div class="row">

	<div class="search col-md-6 col-sm-6 hidden-xs">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
			<input class="form-control" type="text" placeholder="Search" >
		</div>
	</div>

<div class="icons col-md-6 col-sm-6 col-xs-12">
	<ul class="icon-nav">
		<li>
			<a href="./#!/profile">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-user fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</li>
		<li>
			<a href="./#!/notifications">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-bell fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</li>
		<li>
			<a href="./#!/calendar">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</li>
		<li>
			<a href="./#!/courses">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-home fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</li>
		<div class="clear"></div>
	</ul>
</div>


</div>
