<div class="row main">
    <div class="side-nav col-md-1 hidden-xs hidden-sm">
            <div ng-include="'./components/courses-navbar.html'"></div>
    </div>

    <div ng-if="!globalCalendar" class="side-course-nav col-md-2 hidden-xs hidden-sm">
        <div ng-include="'./components/course-detail-navbar.html'"></div>
    </div>

    <div class="main-content col-md-11 col-sm-12 col-xs-12">

        <div ng-include="'./components/top-nav.html'"></div>

        <div class="main-announcements">            
            <h3 class="announcementHeader">Calendar</h3>
            <br />
            <div class="calendar col-md-8 col-md-offset-2" ui-calendar="uiConfig.calendar" ng-model="eventsSource"></div>
            </div>
            <input class="icalLink col-md-6 col-md-offset-3" type="text" ng-model="calendarLink" readonly />
        </div>
    </div>    
</div>
