
<div id="forgot-password">
	
	<div id="logo"><img src="../img/logo.png" /></div>
	
	<form>
		<div id="login-info">
		<h1>Forgot Password?</h1>
		<input type="text" class="top" placeholder="Enter email" name="email" ng-model="email" />
		<input type="text" class="mid" placeholder="Reset Token" name="token" ng-model="token" ng-show="retrieving" />
		<input type="text" class="mid" placeholder="New Password" name="password" ng-model="password" ng-show="retrieving" />
		<div class="btn forgot-button">
		<button type="submit" ng-hide="retrieving" ng-click="retrievePassword()">Retrieve Password</button>
		<button type="submit" ng-show="retrieving" ng-click="resetPassword()">Reset Password</button>
		</div>
		</div>
		<p class="subnav"><a href="./#!/sign-in">Back to Login</a></p>
	</form>
</div>