<div class="row main">
	<div ng-if="!loggedin">
		{{signout()}}
	</div>

	<div class="side-nav col-md-1 hidden-xs hidden-sm">
		<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="main-content col-md-11 col-sm-12 col-xs-12">
		<div class="row">
			<div ng-include="'./components/top-nav.html'"></div>
			<div class="main-courses col-md-12 col-sm-12 col-xs-12">
			<div class="signout-box">
				<button ng-click="signout()">Sign Out</button>
				
			</div>
			<div class="clear"></div>
				<h3 class="profile-header">{{getname()}}'s Profile</h3>

				<div class="user-info">
					<span>Update email address: </span><input type="text" placeholder="Email" name="email" ng-model="email" />
					<span>Update password: </span><input type="password" placeholder="Password" name="password" ng-model="password" />
					<span>Confirm password: </span><input type="password" placeholder="Password confirmation" name="passwordconf" ng-model="passwordconf" />

<!-- THIS ISN"T RELEVANT OR IMPLEMENTED SO EMSHRUG					<form action="">
						<input type="radio" name="email" value="email-on">Email on<br>
						<input type="radio" name="email" value="email-off">Email off<br>
					</form> -->

					<button type="submit" ng-click="updateinfo()" ng-class="errorButton">{{ updateButton }}</button>

				</div>
			</div>
			
		</div>

	</div>
</div>

