<div ng-include="'./components/navbar.html'"></div>

<div id="login">
	<h1>Login</h1>
	<form>
		<div id="login-info">
			<input type="text" placeholder="Email" name="email" ng-model="email" />
			<input type="text" placeholder="Password" name="password" ng-model="password" />
		</div>
		<input type="submit" value="Login" />
	</form>
	<p><a href="./#!/sign-up">Register for Mango</a> | <a href="./#!/forgot-password">Forgot Password?</a></p>
</div>

<div ng-include="'./components/footer.html'"></div>