<div id="login" ng-hide="loggedin">
	<div id="logo"><img src="img/logo.png" /></div>
	<form>
		<ul id="errors" ng-show="edata" ng-repeat"error in errors">
		<li ng-repeat="error in errors">{{error}}</li>
		</ul>
		<div id="login-info">
			<input class="top" type="text" placeholder="Username" name="email" ng-model="email" />
			<input type="password" placeholder="Password" name="password" ng-model="password" />
		</div>
		<div class="btn"><button class="login" type="submit" ng-click="signin()">Login</button></div>
	</form><br><br>
	<p class="subnav"><a href="./#!/sign-up">Register for Mango</a> | <a href="./#!/forgot-password">Forgot Password?</a></p>
</div>

<div id="logged" ng-show="loggedin">
	<h1>Already Logged in</h1>
	<button type="submit" ng-click="signout()">Logout?</button>
</div>

<div ng-include="'./components/footer.html'"></div>