<div ng-include="'./components/navbar.html'"></div>

<div id="register">
	<h1>Register</h1>
	<form>
		<div id="register-info">
			<input type="text" placeholder="First name" name="firstname" ng-model="firstname" />
			<input type="text" placeholder="Last name" name="lastname" ng-model="lastname" />
			<input type="text" placeholder="Email" name="email" ng-model="email" />
			<input type="text" placeholder="Password" name="password" ng-model="password" />
		</div>
		<button type="submit" ng-click="signup()">Signup</button>
	</form>
</div>

<div ng-include="'./components/footer.html'"></div>