<div id="logo"><img src="../img/logo.png" /></div>

<div id="register">
	<form>
		<div id="register-info">
			<input class="top" type="text" placeholder="First name" name="firstname" ng-model="firstname" />
			<input class="mid" type="text" placeholder="Last name" name="lastname" ng-model="lastname" />
			<input class="mid" type="text" placeholder="Email" name="email" ng-model="email" />
			<input type="password" placeholder="Password" name="password" ng-model="password" />
		</div>
		<div class="btn"><button class="register" type="submit" ng-click="signup()">Get Started</button></div>
	</form>
	<p class="subnav"><a href="./#!/login">Back to Login</a></p>
</div>

