<div class="row main">

	<div class="side-nav col-md-1 hidden-xs hidden-sm">
		<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="side-course-nav course-discussion col-md-2 hidden-xs hidden-sm">
		<h3>{{courseName}}</h3>
		<h5>Pinned Posts</h5>
		<ul class="course-threads">
			<div ng-repeat="thread in threads">
				<a ng-if="thread.sticky == 1" ng-click="getSingleThread(thread.id)">
					<li>
						<div class="title">{{thread.title}}</div>
						<div class="body">{{thread.body}}</div>
					</li>
				</a>
			</div>
		</ul>

		<h5>Recent Posts</h5>
		<ul class="course-threads">
			<div ng-repeat="thread in threads">
				<a ng-if="thread.sticky == 0" ng-click="getSingleThread(thread.id)">
					<li>
						<div class="title">{{thread.title}}</div>
						<div class="body">{{thread.body}}</div>
					</li>
				</a>
			</div>
		</ul>
	</div>

	<div class="main-content col-md-9 col-xs-12">

		<div ng-include="'./components/top-nav.html'"></div>
		<div class="row categories">
			<div class="addPost col-md-2 col-md-offset-10">
				<a ng-href="./#!/discussion/{{courseID}}/new">
				<button>
						<span class="icon"><i class="fa fa-plus"></i> &nbsp;New Post</span>
				</button>
				</a>
			</div>
		</div>

		<div ng-if="currentThread" class="currentThread">
			<div class="row head-post">
				<div class="col-md-12">
					<h2>{{currentThread.title}}</h2>
					<div ng-show="{{currentThread.anonymous}}" class="thread-info">Posted by <span class="bold">Anonymous</span> on {{currentThread.created_at | date:'MMM dd'}}</div>
					<div ng-hide="{{currentThread.anonymous}}" class="thread-info">Posted by <span class="bold">{{currentThread.user.name}}</span> on {{currentThread.created_at | date:'MMM dd'}}</div>

					<p class="body">{{currentThread.body}}</p>
				</div>
			</div>
			<div class="row thread-replies">
				<div class="col-md-10 col-md-offset-2">
					<div ng-repeat="reply in currentPosts" class="reply row">
						<div class="col-md-1 col-sm-1 hidden-xs upvotes" ng-if="userID == reply.user.id">
							<a ng-hide="editablePosts[$index]" ng-click="makeEditable($index)"><i class="fa fa-pencil"></i></a>
							<a ng-show="editablePosts[$index]" ng-click="makeEditable($index)"><i class="fa fa-times"></i></a>
						</div>

						<div ng-if="userID != reply.user.id" class="col-md-1 col-sm-1 hidden-xs upvotes">
							<div class="arrow"><a ng-click="upvote(reply.id)"><i class="fa fa-arrow-up"></i></a></div>
							<div class="numberUpvotes">{{reply.totalLikes}}</div>
							<div class="arrow"><a ng-click="downvote(reply.id)"><i class="fa fa-arrow-down"></i></a></div>
						</div>
						<div class="col-md-11">

							<textarea ng-show="editablePosts[$index]" class="body editbody" ng-model="newReplyBody">{{reply.body}}</textarea>

							<p ng-hide="editablePosts[$index]" class="body">{{reply.body}}</p>

							<div class="editbuttons" ng-show="editablePosts[$index]">
								<button ng-click="editPost(courseID,reply.id,newReplyBody,reply.anonymous)">Save Edits</button>
								<button class="deletebtn" ng-click="deletePost(courseID, reply.id)">Delete Post</button>
							</div>


							<div ng-show="{{reply.anonymous}}" class="reply-info">Posted by <span class="bold">Anonymous</span> on {{reply.created_at | date: 'MMM dd'}}
							</div>

							<div ng-hide="{{reply.anonymous}}" class="reply-info">Posted by <span class="bold">{{reply.user.name}}</span> on {{reply.created_at | date: 'MMM dd'}}
							</div>


						</div>
					</div>

					<div class="reply new-reply row" ng-hide="!currentThread.locked">
						<h4>Reply to discussion post</h4>
						<div class="form">
							<textarea class="new-reply-body" ng-model="replyBody"></textarea><br>
							<div class="input-group">
								<label for="anon">Post Anonymously?</label>
								<input type="checkbox" name="anon" ng-model="anon" ng-valueng-true-value="1" ng-false-value="0">
							</div>
							<div class="clear"></div>
							<button type="submit" name="submit" ng-click="replyToThread(replyBody,anon)">Submit</button>
						</div>

					</div>

					<div class="reply new-reply row" ng-show="!currentThread.locked">
						<h4>Replies no longer accepted</h4>
					</div>

				</div>
			</div>
		</div>


	</div>
