<div class="row main">

	<div class="side-nav col-md-1 hidden-xs hidden-sm">
		<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="side-course-nav course-discussion col-md-2 hidden-xs hidden-sm">
		<h3>{{courseName}}</h3>
		<h5>Pinned Posts</h5>
		<ul class="course-threads">
			<div ng-repeat="thread in threads">
				<a ng-if="thread.sticky == 1" href="#">
					<li>
						<div class="title">{{thread.title}}</div>
						<div class="body">{{thread.body}}</div>
					</li>
				</a>
			</div>
		</ul>

		<h5>Recent Posts</h5>
		<ul class="course-threads">
			<div ng-repeat="thread in threads">
				<a ng-if="thread.sticky == 0" href="#">
					<li>
						<div class="title">{{thread.title}}</div>
						<div class="body">{{thread.body}}</div>
					</li>
				</a>
			</div>
		</ul>
	</div>

	<div class="main-content col-md-9 col-xs-12">

		<div ng-include="'./components/top-nav.html'"></div>
		<div class="row categories">
			<div class="addPost col-md-2 col-md-offset-10">
				<button>
					<span class="icon"><i class="fa fa-plus"></i> &nbsp;New Post</span>
				</button>
			</div>
		</div>

		<div ng-if="currentThread" class="currentThread">
			<div class="row head-post">
				<div class="col-md-12">
					<h2>{{currentThread.title}}</h2>
					<div class="thread-info">Posted by <span class="bold">currentUserName</span> on {{currentThread.created_at | date:'MMM dd'}}</div>
					<p class="body">{{currentThread.body}}</p>
				</div>
			</div>
			<div class="row thread-replies">
				<div class="col-md-9 col-md-offset-3">
					<div ng-repeat="reply in currentPosts" class="reply">
						<p class="body">{{reply.body}}</p>
						<div class="reply-info">Posted by <span class="bold">{{reply.user.name}}</span> on {{reply.created_at | date: 'MMM dd'}}
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
