<div class="row main">

	<div class="side-nav col-md-1 hidden-xs hidden-sm">
		<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="side-course-nav course-discussion col-md-2 hidden-xs hidden-sm">
		<h3>{{courseName}}</h3>
		<h5>Pinned Posts</h5>
		<ul class="course-pinned-posts">
			<li>
				<div class="title">This is a thing</div>
				<div class="body">Hello peoplefjdsao ifjdsaio fjdsoiajfdsoia jfodisa fjiosadjfsaoijsdfoiajfdsio</div>
			</li>
			<li>
				<div class="title">This is a thing</div>
				<div class="body">Hello peoplefjdsao ifjdsaio fjdsoiajfdsoia jfodisa fjiosadjfsaoijsdfoiajfdsio</div>
			</li>
			<li>
				<div class="title">This is a thing</div>
				<div class="body">Hello peoplefjdsao ifjdsaio fjdsoiajfdsoia jfodisa fjiosadjfsaoijsdfoiajfdsio</div>
			</li>
		</ul>

		<h5>Recent Posts</h5>
	</div>

	<div class="main-content col-md-9 col-xs-12">

		<div ng-include="'./components/top-nav.html'"></div>

		yello
	</div>


</div>
