<div ng-include="'./components/course-navbar.html'"></div>
<div ng-show="courseData">
	<h2>Name of Course: {{ courseName }}</h2>
	<h2>Announcements:</h2>
	<div ng-repeat="announcement in announcements[0]">
		<div ng-if="announcement.section_id == courseID">
			<h4>{{announcement.title}}</h4>
			<p>{{announcement.body}}</p>
			<small>Posted at {{announcement.created_at}}</small>
		</div>
	</div>
	<div ng-show="isInstructor">
		<br><br>
		<h2>Add New Announcement:</h2>
		<small>Title:</small>
		<input ng-model="newAnnouncementTitle"><br>
		<small>Announcement:</small><br>
		<textarea ng-model="newAnnouncement"></textarea><br>
		<button ng-click="createAnnouncement()">Create Announcement</button>
		<br><br><br>
		<h2>Add New Section:</h2>
		<input ng-model="newSection">
		<button ng-click="createSection()">Create Section</button><br>
		
	</div>
	
</div>
<div ng-hide="courseData">
	<h2>Course Not Found</h2>
</div>

<div ng-include="'./components/footer.html'"></div>