<div class="row main">

	<div class="side-nav col-md-1 hidden-xs hidden-sm">
		<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="main-content col-md-11 col-sm-12 col-xs-12">
		<div class="row">
			<div ng-include="'./components/top-nav.html'"></div>
			<div class="main-courses col-md-8 col-sm-12 col-xs-12">
				<h3>My Courses</h3>
				<div id="courses">
					<div ng-repeat="course in courses">
						<div class="s-course science">
							<a ng-href="./#!/courses/{{course.id}}" ng-click="changeCurrentCourse(course.id)">
								<div class="course-link science">
									{{course.name}}
								</div>
							</a>
							<div class="course-nav row">
								<div class="course-nav-s col-md-4">
									<a href="#">
										<i class="fa fa-file-text"></i>
									</a>
								</div>
								<div class="course-nav-s col-md-4">
									<a ng-href="./#!/discussion/{{course.id}}">
										<i class="fa fa-comments"></i>
									</a>
								</div>
								<div class="course-nav-s col-md-4">
									<a href="#">
										<i class="fa fa-users"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="no-courses" ng-show="noCourses">
					<h3>No courses to display</h3>
				</div>
			</div>

			<div class="main-announcements col-md-4 hidden-sm hidden-xs">
				<div class="announcement-box">
					<h3>Upcoming Deadlines</h3>
					<a href="#"><button>See Calendar</button></a>
				</div>
			</div>
		</div>
	</div>


</div>
