<div class="row main">

	<div class="side-nav col-md-1 hidden-xs hidden-sm">
		<div ng-include="'./components/courses-navbar.html'"></div>
	</div>

	<div class="side-course-nav col-md-2 hidden-xs hidden-sm">
		<div ng-include="'./components/course-detail-navbar.html'"></div>
	</div>

	<div ng-show="isAdmin" class="main-content course-users col-md-9 col-xs-12">


		<div ng-include="'./components/top-nav.html'"></div>

		<h3>Course Users</h3>

		<table class="table users table-striped" ng-show="courseUsers">
			<tr>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Remove User?</th>
			</tr>

			<tr ng-repeat="user in courseUsers">
				<td>{{user.name}}</td>
				<td>{{user.firstname}}</td>
				<td>{{user.lastname}}</td>
				<td><a ng-click="removeUser(user.id)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
			</tr>

		</table>
		<br><br>

		<div class="add-user">
		<h3>Invite User to Course</h3>
		<input class="deadline" placeholder="User's Email" type="text" ng-model="assignmentDeadline" required>
		<button ng-click="createAssignment()">Invite User</button>

		</div>
	</div>


</div>
